*{
	margin: 0;
	padding: 0;
}
body{
	font-family: roboto, sans-serif;
	font-size: 20px;
	line-height: 26px;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;


}
h1{
	font-size: 36px;
	line-height: 36px;
	border-bottom: 1px solid grey;
	padding-top: 5px;
	padding-bottom: 20px;
}
h2{
	font-size: 32px;
	line-height: 32px;
	padding-bottom: 40px;
	padding-top: 40px;

}


#intro{
	font-size: 24px;
	line-height: 32px;
	padding-top: 20px;
	padding-bottom: 20px;

}
#tip{
	background-color: #def6ed;
	padding: 25px;
	border-radius: 4px;
	margin-bottom: 40px;
}
ul,ol{
	margin-left: 40px;


}
ul li{
	padding-top: 10px;
	padding-bottom: 10px;

}
ol li{
	padding-top: 20px;
	padding-bottom: 20px;
}
nav{
	position: absolute;
}
nav ul{
	width: 200px;
}
nav ul li{
	list-style-type: none;
	text-align: center;
}
nav ul li a{
	text-decoration: none;
	display: block;
	color: black;	
	background-color: gray;
	border-radius: 4px;
	padding: 5px;
}
img{
	padding-top: 40px;
	padding-bottom: 40px;

}
#muffin{
	width: 75%;
	height: 60%;
	border-radius: 50px;
}